h1{
    font-size: 75px;
}

tr button {
    width: 75px;
}


.btn-block {
    padding-bottom: 10px;
}

.card-header{
    background-color: darkslategrey;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.cardSubHeader{
    font-size: 20px;
}


.container{
    margin-bottom: 20px;
}

.content{
    padding-top: 20px;
}

.delete{
    background-color: red;
    color: black;
}

#header{
    padding-top: 10%;
}


#subHeading1{
    padding-bottom: 50px;
}

#subHeading2{
    padding-top: 40px;
    padding-bottom: 20px;

}
#wait-time{
    font-size: 125px;
}

