tr button {
    width: 75px;
    color: purple;
}

.delete{
    background-color: red;
    color: black;
}

.btn-block {
    padding-bottom: 10px;
}

.card-header{
    background-color: pink;
    color: #ffffff;
}

.container{
    margin-bottom: 20px;
}
